body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
}

a {
  color: white;
}

h1 {
  font-size: 3rem;
}

.App {
  color: white;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.result {
  color: white;
  background-color: black;
  padding: 0 1rem;
  overflow: auto;
}
